name: Test Python_dataclass

on:
  push:
    paths:
      - 'Python_dataclass/**'
      - '.github/workflows/Python_dataclass.yml'
  pull_request:
    paths:
      - 'Python_dataclass/**'
      - '.github/workflows/Python_dataclass.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.5", "3.8", "3.10", "3.12"]

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
          python-version: ${{ matrix.python-version }}

    - name: Test
      working-directory: Python_dataclass
      run: python hero_quest_tests.py 
